= box_div do

  - boxes_configuration_block do
    %h3.box_name= "#{box_name} (#{@widget.blank? ? 'No widget' : @widget.name})"
    - if not @cell.meta.published?
      %span.published Not published
    - if not @cell.meta.widget_errors.blank?
      %div.errors
        %ul.errors
          - @cell.meta.widget_errors.each do |k, message|
            %li= message
          
  - if not @widget.blank?
    = rendered_children[@widget.name]

  - children = @cell.children.reject{|w|w == @widget}
  - if children.size > 0
    = children.collect{|child| rendered_children[child.name]}.join.html_safe
  
  - boxes_configuration_block do
    %p.box_tools
      = link_to "Configure", url_for_event(:configure), :class => 'ajax'
      |
      = link_to_remove_box 
      - if @cell.meta.published? && Boxes.allows_creation?
        |
        = link_to_add_sibling_box
      